tensorflow
tensorflow-model-optimization>=0.2.1
numpy
optuna
matplotlib
seaborn
scikit-learn==1.2.2
#python3.8-tk
#hep_ml==0.7.0
#pyqt5
jupyter
jupyter_client
#opencv-python-headless
sqlalchemy
flask-sqlalchemy
optuna-dashboard
optuna-distributed
#mongoengine
netCDF4
siphon
cartopy
networkx
xarray
rasterio
rioxarray
xgboost
